<div class="jumbotron" id="home-page">
    <h1 class="display-4">API Medições</h1>
    <br>
    <br>
    <br>
    <p class="lead">Um site em que você poderá armazenar e analizar suas medições glicemicas</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5500/index.html#!/login" role="button">Acessar conta</a>
    </p>
    <p>     
      <a class="btn btn-secondary btn-lg" href="http://127.0.0.1:5500/index.html#!/signin" role="button">ainda não possui conta?</a>
    </p>
  </div>