<h1>Login</h1>


<div class="container" ng-controller="userCtrl" ng-model="measurementsApp" id="signin-form">
    <form  name="loginForm">
        <br>
        nome:<input type="text" ng-required="true" class="form-control" ng-model="loginForm.name">
        email:<input type="email" ng-required="true" class="form-control" ng-model="loginForm.email" >
        <div ng-show="loginForm.$error.email[0].$dirty && loginForm.$error.email[0].$invalid"  class="alert alert-danger">
            por favor, preencha o email corretamente!
        </div>
        senha:<input type="password" ng-required="true" class="form-control" ng-model="loginForm.password">
        <button type="button" class="btn btn-primary" id="submit" ng-disabled="loginForm.$invalid">Enviar</button>
    </form>
    <div ng-show="loginForm.$invalid && loginForm.$dirty" class="alert alert-danger">
        por favor, preencha o formulario completo!
    </div>
    
</div>

<a href="http://127.0.0.1:5500/index.html#!/signin"><button style="float: right ; margin-right:44em;" type="button" class="btn" id="submit" ng-disabled="loginForm.$invalid">Ainda nao possui cadastro?</button></a>