<div class="container" style="padding-top: 20px;">
  <div class="d-lg-flex justify-content-center">
    <div class="card mr-lg-3"  id="patient-card" >
        <div>
          <div class="card-body">
            <button style="float: right ;" type="button" class="btn btn-secondary" ng-click="getPatient(patientData)">
              editar
            </button>
            <h5 class="card-title">{{patientData.name}}</h5>
            <!-- <div class="relative" id="patient-card-image">
              <img class="card-img-top" ng-src="/uploads/{{patientData.profile_pics[0].filename || 'profilepic.jpg'}}" alt="Card image cap" ng-click="openModal()">
              <div class="patient__div--image"><a id="profile-pick-text" ng-click="openProfilePicEditionModal()">Editar</a></div>
            </div> -->
            <p class="card-text">idade: {{patientData.age}}  Anos</p>
            <p class="card-text">peso: {{patientData.weight}} Kg</p>
            <p class="card-text">altura: {{patientData.height}} M</p>
            <p class="card-text">media glicemica: {{patientData.glycemic_average}} mg/dl</p>
            <p class="card-text">hemoglobina glicada estimada: {{patientData.glycated_hemoglobin}}%</p>
          </div>
        </div>  
      </div>
      <div class="card mt-lg-0 mt-3" id="patients-card">
        <div class="card-body">
          <h5 class="card-title float-left">Medições</h5>
          <button type="button" class="btn btn-secondary float-right" ng-click="openMeasurementCreationModal()">
            Criar medição
          </button>
          <input type="date" style="max-width: 140px ;" class="form-control mx-auto" aria-label="" aria-describedby="basic-addon1" ng-max='today' max="{{today | date:'yyyy-MM-dd'}}" ng-change="dateSelect()" ng-model="selectedDay" >
          </form>
          <div ng-if="!measurementsData.length" class="alert alert-primary" id="alert" role="alert">
              Nenhum registro nesta data
          </div>
            <img src="../uploads/Loading_icon.gif" ng-if="loadingMeasurements" alt="">
            <table ng-if="measurementsData.length" class="table table-hover table-responsive-sm" ng-show="!loadingMeasurements"> 
              <thead>
                <tr>
                  <th scope="col">Horário</th>
                  <th scope="col">Glicemia</th>
                  <th scope="col">Carboidratos consumidos</th>
                  <th scope="col">Insulina aplicada</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="measurement in measurementsData | filter: selectedDate">
                  <th scope="row">{{measurement.measurement_date | date : 'shortTime'}}</th>
                  <td>{{measurement.glucose}}</td>
                  <td>{{measurement.carbs}}</td>
                  <td>{{measurement.insulin}} </td>
                  <td>
                    <div class="dropdown">
                      <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-list" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item"ng-click="getMeasurement(measurement)">Editar<i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                        <li><a class="dropdown-item" ng-click="removeMeasurement(measurement.id)"></i>Deletar<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </td>
                </tr>  
              </tbody>
            </table>
            <pagination ng-if="!loadingMeasurements && measurementsData.length" total-items="totalItems" items-per-page="6" on-paginate="onPaginate" current-page="currentPage"></pagination>
        </div>
      </div>
    </div>
    <div class="container chart mt-3" ng-show="measurementsChart.length">
      <form class="form-inline">
        <div class="mx-auto">
          <div class="">
            <input type="date" style="max-width: 140px ;" class="form-control mx-auto" aria-label="" aria-describedby="basic-addon1" ng-max='today' max="{{today | date:'yyyy-MM-dd'}}" ng-change="chartdateSelect()" ng-model="startDay" >
            <input type="date" style="max-width: 140px ;" class="form-control mx-auto" aria-label="" aria-describedby="basic-addon1" ng-change="chartdateSelect()" ng-model="endDay" >
          </div>
        </div>
      </form>
      <div style="margin-left: 10vw ;" class=" btn-group btn-group-toggle">
        <label class="btn btn-secondary" ng-class="{ 'active': lineGraph }">
          <input type="radio" ng-click="showLineGraph()"><i class="fa fa-line-chart" aria-hidden="true"></i></input>
        </label>
        <label class="btn btn-secondary" ng-class="{ 'active': columnGraph }">
          <input type="radio" ng-click="showColumnGraph()"><i class="fa fa-bar-chart" aria-hidden="true"></i></input>
        </label>
        
      </div>
        
        <div id="line" ng-show="lineGraph"></div>
      <figure class="highcharts-figure" ng-show="lineGraph">
        <p class="highcharts-description">
        </p>
      </figure>
      <figure class="highcharts-figure" ng-show="columnGraph">
        <div id="column"></div>
      </figure>
      <!-- <canvas id="line" class="chart chart-line"  chart-data="measurementsValues" chart-labels="measurementsDates" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
     
      </canvas> -->
  </div>
</div>