<h1>Cadastro de Pacientes</h1>


<div class="container" ng-controller="userCtrl" ng-model="measurementsApp" id="signin-form">
    <form  name="patientForm">
        <br>
        nome:<input type="text" ng-required="true" class="form-control" ng-model="patientForm.name">
        weight:<input type="number" ng-required="true" class="form-control" ng-model="patientForm.weight" >
        height:<input type="number" ng-required="true" class="form-control" ng-model="patientForm.height">
        Data de nascimento:<input type="date" ng-required="true" class="form-control" ng-model="patientForm.bornedAt" >
    </form>
    <div ng-show="patientForm.$invalid && patientForm.$dirty" class="alert alert-danger">
        por favor, preencha o formulario completo!
    </div>
    <button type="button" class="btn btn-secondary" id="submit" ng-disabled="patientForm.$invalid">Enviar</button> <br>
</div>