<div class="container">
    <div class="card" style="width: 18rem;" id="profile-card">
        
        <div class="card-body">
          <h5 class="card-title">{{patientData.name}} </h5>
          <p class="card-text">idade: {{patientData.age}} Anos</p>
          <p class="card-text">peso: {{patientData.weight}} Kg</p>
          <p class="card-text">altura: {{patientData.height}} M</p>
          <p class="card-text">media glicemica: </p>
          <p class="card-text">hemoglobina glicada estimada:</p>
          <button style="float: right ;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#patientEditionModal" ng-click="getPatient(patientData)">
            editar
          </button>
          <div class="modal fade" id="patientEditionModal" tabindex="-1" aria-labelledby="patientEditionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="patientEditionModalLabel">{{patientData.name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                  <form  name="patientForm">
                    <br>
                    nome:<input type="text" ng-required="true" class="form-control" ng-model="editedPatient.name" ng-maxlength="80">
                    peso:<input type="text" ng-required="true" class="form-control" ng-model="editedPatient.weight" ui-weight>
                    altura:<input type="text" ng-required="true" class="form-control" ng-model="editedPatient.height" ui-height >
                    data de nascimento:<input type="date" ng-required="true" class="form-control" ng-model="editedPatient.borned_at" max="{{today}}">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="editPatient()">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="width: 45rem;" id="patients-card">
        <div class="card-body">
          <h5 class="card-title" style="float: left ;">Medições</h5>
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Hoje</button>
            <ul class="dropdown-menu">
              Dia da medição:<input type="date" class="form-control" ng-model="patientEdit.borned_at" value="{{today}}" max="{{today}}" ng-required="false">
            </ul>
            <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="patientSearch">
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Horário</th>
                <th scope="col">Glicemia</th>
                <th scope="col">Carboidratos consumidos</th>
                <th scope="col">Insulina aplicada</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="measurement in measurementsData">
                <th scope="row">{{measurement.measurement_date.slice(11,16)}}</th>
                <td>{{measurement.glucose}}</td>
                <td>{{measurement.carbs}}</td>
                <td>{{measurement.insulin}}</td>
                <td><div class="dropdown">
                  <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item"ng-click="getMeasurement(measurement)" data-bs-toggle="modal" data-bs-target="#measurementEditionModal">edit</a></li>
                    <li><a class="dropdown-item" ng-click="removeMeasurement(measurement.id)">delete</a></li>
                  </ul>
                </div>
              </td>
            </tbody>
          </table>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#measurementCreationModal">
            Criar medição
          </button>
          <!-- Modal -->
            <div class="modal fade" id="measurementCreationModal" tabindex="-1" aria-labelledby="measurementCreationModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="measurementCreationModalLabel">Medição</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form  name="measurementForm">
                      <br>
                      Glicemia:<input type="text"  class="form-control" ng-model="createdMeasurement.glucose" ui-weight>
                      Carboidratos ingeridos:<input type="text" class="form-control" ng-model="createdMeasurement.carbs" ui-weight>
                      Insulina aplicada:<input type="text"  class="form-control" ng-model="createdMeasurement.insulin" ui-weight>
                      Horario da medição:<input type="datetime-local"  ng-required="true"  class="form-control" value="{{now}}" max="{{now}}" ng-model="createdMeasurement.measurement_date" >
                  </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="measurementForm.$invalid" ng-click="addMeasurement()">Salvar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Measurement Edition Modal -->
            <div class="modal fade" id="measurementEditionModal" tabindex="-1" aria-labelledby="measurementEditionModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="measurementEditionModalLabel">Medição</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form  name="measurementEditionForm">
                      <br>
                      Glicemia:<input type="text"  class="form-control" ng-model="editedMeasurement.glucose" ui-weight>
                      Carboidratos ingeridos:<input type="text" class="form-control" ng-model="editedMeasurement.carbs" ui-weight>
                      Insulina aplicada:<input type="text"  class="form-control" ng-model="editedMeasurement.insulin" ui-weight>
                      Horario da medição:<input type="datetime-local" class="form-control" value="{{now}}" max="{{now}}" ng-model="createdMeasurement.measurement_date" >
                  </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-disabled="measurementForm.$invalid" ng-click="editMeasurement()">Salvar</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>
