<div class="container" ng-controller="patientCtrl">
    <div class="card" style="width: 18rem;" id="profile-card">
        
        <div class="card-body">
          <h5 class="card-title">"Patient Name"</h5>
          <p class="card-text">idade:</p>
          <p class="card-text">peso:</p>
          <p class="card-text">altura:</p>
          <p class="card-text">media glicemica:</p>
          <p class="card-text">hemoglobina glicada estimada:</p>
          <button style="float: right ;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#patientEditModal">
            editar
          </button>
          <div class="modal fade" id="patientEditModal" tabindex="-1" aria-labelledby="patientEditModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="patientEditModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form  name="patientForm">
                    <br>
                    nome:<input type="text" class="form-control" ng-model="patientForm.name">
                    weight:<input type="number" class="form-control" ng-model="patientForm.weight" >
                    height:<input type="number" class="form-control" ng-model="patientForm.height">
                    Data de nascimento:<input type="date" class="form-control" ng-model="patientForm.bornedAt" >
                </form>
                <button type="button" class="btn btn-secondary" id="submit" ng-disabled="">Enviar</button> <br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="width: 45rem; height: 21rem;" id="patients-card">
        <div class="card-body">
          <h5 class="card-title" style="float: left ;">Medicoes</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Glicemia</th>
                <th scope="col">Carboidratos consumidos</th>
                <th scope="col">Insulina aplicada</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">12:35</th>
                <td>125mg/dL</td>
                <td>30g</td>
                <td>2u</td>
                <td><div class="dropdown">
                  <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">edit</a></li>
                    <li><a class="dropdown-item" href="#">delete</a></li>
                  </ul>
                </div>
              </td>
            </tbody>
          </table>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#measurementCreationModal">
            Criar medicao
          </button>
          <!-- Modal -->
            <div class="modal fade" id="measurementCreationModal" tabindex="-1" aria-labelledby="measurementCreationModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="measurementCreationModalLabel">Medicao</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form  name="measurementForm">
                      <br>
                      Glicemia:<input type="number"  class="form-control" ng-model="measurementForm.glucose">
                      Carboidratos ingeridos:<input type="number" class="form-control" ng-model="measurementForm.carbs" >
                      Insulina aplicada:<input type="number"  class="form-control" ng-model="measurementForm.insulin">
                      Horario da medicao:<input type="datetime-local"  ng-required="true"  class="form-control" ng-model="measurementForm.time" >
                  </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="measurementForm.$invalid" >Salvar</button>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
</div>
