<div class="container">
    <div class="card" style="width: 18rem;" id="profile-card">
        <img class="card-img-top" src="../uploads/profilepic.jpg" alt="Card image cap" id="profile-card-image">
        <div class="card-body">
          <h5 class="card-title">User Name</h5>
          <p class="card-text">Name:</p>
          <p class="card-text">Email:</p>
        </div>
      </div>
      <div class="card" style="width: 45rem; height: 21rem;" id="patients-card">
        <div class="card-body">
          <h5 class="card-title" style="float: left ;">Patients</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                   
                    <th scope="row">2</th>
                    <td><a href="http://127.0.0.1:5500/index.html#!/patient"> Jacob</a></td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    
                </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Criar paciente
          </button>
          <a href=""><button type="button" class="btn btn-danger" style="float: right ;">Deletar paciente</button></a>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Novo paciente</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form  name="userForm">
                    <br>
                    nome:<input type="text" ng-required="true" class="form-control" ng-model="userForm.name">
                    email:<input type="email" ng-required="true" class="form-control" ng-model="userForm.email" >
                    <div ng-show="userForm.$error.email[0].$dirty && userForm.$error.email[0].$invalid"  class="alert alert-danger">
                        por favor, preencha o email corretamente!
                    </div>
                    senha:<input type="password" ng-required="true" class="form-control" ng-model="userForm.password">
                    confirmar senha:<input type="password" ng-required="true" class="form-control" ng-model="userForm.passworConfirmation" >
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
