<div class="container" ng-controller="userCtrl" style="padding-top: 20px;">
      <div class="card"  id="profile-card" >
        <img class="card-img-top" src="../uploads/profilepic.jpg" alt="Card image cap" id="profile-card-image">
        <div class="card-body">
          <h5 class="card-title">{{userData.name}}</h5>
          <p class="card-text";">{{userData.email}}</p>
          <button  type="button" class="btn btn-secondary" ng-click="getUser(userData)">
            Editar
          </button>
        </div>
      </div>
      <div class="card" id="patients-card">
        <div class="card-body">
          <h5 class="card-title float-left">Pacientes</h5>
          <button style = "margin-bottom: 8px;" type="button" class="btn btn-secondary float-right" ng-click="openPatientCreationModal()">
            Criar paciente
          </button>
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Ordenar por</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" ng-click="orderBy('id')">id</a></li>
              <li><a class="dropdown-item" ng-click="orderBy('name')">Nome</a></li>
              <li><a class="dropdown-item" ng-click="orderBy('weight')">Peso</a></li>
              <li><a class="dropdown-item" ng-click="orderBy('height')" >Altura</a></li>
              <li><a class="dropdown-item" ng-click="orderBy('age')">Idade</a></li>
            </ul>
            <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="patientSearch">
          </div>
          <table class="table table-hover table-responsive-sm">
            <thead>
              <tr>
                <!-- <th scope="col">id</th> -->
                <th scope="col">Nome</th>
                <th scope="col">Peso</th>
                <th scope="col">Altura</th>
                <th scope="col">Idade</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="patient in patientsData | filter:patientSearch| orderBy: order">
                <!-- <th scope="row" ng-click="goToPatient(patient.id)">{{patient.id}}</th> -->
                <td scope="row" ng-click="goToPatient(patient.id)" class=" text-truncate" style="max-width: 28vw ;" >{{patient.name}}</td>
                <td scope="row" ng-click="goToPatient(patient.id)">{{patient.weight}} Kg</td>
                <td scope="row" ng-click="goToPatient(patient.id)">{{patient.height}} M</td>
                <td scope="row" ng-click="goToPatient(patient.id)">{{patient.age}} </td>
                <td>
                  <div class="dropdown">
                    <a id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-list" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><button class="dropdown-item" ng-click="getPatient(patient)">Editar<i class="fa fa-pencil" aria-hidden="true"></i></button></li>
                      <li><button class="dropdown-item" ng-click="removePatient(patient.id)">Deletar<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></button></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
</div>
